[Unit]
Description=Micro PABX Flask Application
After=network.target asterisk.service

[Service]
User=pabx
Group=pabx
WorkingDirectory=/opt/micro-pbx
ExecStart=/opt/micro-pbx/venv/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target

