[Unit]
Description=NanoSip Flask Application
After=network.target asterisk.service

[Service]
User=nanosip
Group=nanosip
WorkingDirectory=/opt/nanosip
ExecStart=/opt/nanosip/venv/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target

