[Unit]
Description=NanoSip Flask Application
After=network.target asterisk.service

[Service]
KillMode=process
User=root
Group=root
WorkingDirectory=/opt/nanosip
ExecStart=/opt/nanosip/venv/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target

