[Unit]
Description=PABX Admin Task Runner

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/opt/micro-pbx
ExecStart=/bin/bash -c 'echo "Executando tarefa: %i"; /opt/micro-pbx/system_manager.sh %i'

